body{
  font-size: 1rem;
  font-family: "Noto Sans KR", sans-serif;
}
#about {
  display: none;
  margin-left: 5%;
}
.about-tit {
  font-size: 4rem;
  max-width: 1200px;
}
.aboutme {
  max-width: 1200px;
  display: flex;
  gap: 50px;
}
.imgbox {
  width: 300px;
}
.imgbox > img {
  width: 100%;
}
.introTitle{
  border-bottom: 1px solid #000;
}
.introTitle>.name{
  font-size: 1.5rem;
}
.introInfo>ul>li{
  list-style: none;
}
