
#projects {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  margin-left: 20%;
}
.project {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  width: 500px;
  height: 400px;
}
.project img {
  width: 80%;
  height: 50%;
  margin-left: 7%;
}
.project a {
  color: red;
  text-decoration: none;
}
.project a:hover {
  color: #000;
}
.front span {
  padding: 2px 10px 3px;
  margin-right: 10px;
  color: rgb(0, 71, 187);
  background: rgba(0, 71, 187, 0.1);
  border: 1px solid rgba(0, 71, 187, 0.3);
  border-radius: 10px;
}
